body{
  background: lightgrey;
}

#container{
  position: relative;
  margin: 0 auto;
  top: 50px;
  width: 600px;
  height: 600px;

}

#clock{
  position: absolute;
  width: 500px;
  height: 500px;
  border-radius: 500px;
  left: 26px;
  top: 26px;
  background: white;
  border: 24px solid red;
  background-image:
    radial-gradient(circle at center, black 12px, transparent 12px),
    radial-gradient(circle at center, white 60%, transparent 60%, transparent 65%, white 65%),
    linear-gradient(to right, transparent 50%, black 50%, transparent 50.25%),
    linear-gradient(to bottom, transparent 50%, black 50%, transparent 50.25%),
    linear-gradient(-30deg, transparent 50%, black 50%, transparent 50.25%),
    linear-gradient(30deg, transparent 50%, black 50%, transparent 50.25%),
    linear-gradient(-60deg, transparent 50%, black 50%, transparent 50.25%),
    linear-gradient(60deg, transparent 50%, black 50%, transparent 50.25%);
}

#hour-hand{
  position: absolute;
  height: 110px;
  width: 8px;
  margin: auto;
  top: -22.5%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: black;
  transform-origin: bottom;
  transform: rotate(90deg);
}

#minute-hand{
  position: absolute;
  height: 180px;
  width: 8px;
  margin: auto;
  top: -35%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: black;
  transform-origin: bottom;
  transform: rotate(30deg);
  animation-name: minutehand;
  animation-duration: 10s;
  animation-iteration-count: 2;
  animation-direction: normal;
  animation-delay: 4.5s

}

#second-hand{
  position: absolute;
  height: 180px;
  width: 2px;
  margin: auto;
  top: -35%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: black;
  transform-origin: bottom;
  transform: rotate(0deg);
  animation-name: secondhand;
  animation-duration: 10s;
  animation-iteration-count: 2;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes secondhand {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(720deg);}

}

@keyframes minutehand {
  0% {transform: rotate(30deg);}
  50% {transform: rotate(37.5deg);}
  75% {transform: rotate(45deg);}
  100% {transform: rotate(52.5deg);}
}
